<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>hello!</h1>
    <p>this is a test</p>

    <form action="/" method="post">
        id : <input type="text" name="id"><br>
        task : <input type="text" name="task"><br>
        due_date : <input type="text" nema="due_date"><br>
        priority : <input type="text" name="priority"><br>
    </form>
    <button class="ajax">ajax</button>
    <div id="result"></div>
    
    
    
    <h1><a href="/"></a></h1>
    
    
    <script>


    </script>
</body>

</html>